# Backend
BACKEND_PORT=5000
DATABASE_URL=postgresql://udemm_user:udemm_pass@localhost:5433/udemm_global

# Frontend
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:5000

# PostgreSQL
POSTGRES_USER=udemm_user
POSTGRES_PASSWORD=udemm_pass
POSTGRES_DB=udemm_global
POSTGRES_PORT=5433
