# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
*.env

# Build output
dist/
.next/
out/
coverage/
*.tsbuildinfo

# Prisma
.prisma/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# Storage de archivos cargados por la aplicacion
backend/storage/